html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_640.jpg");
   
}
h1 {
    color: rgb(209, 226, 55);
  }

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid rgb(94, 41, 207);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(32, 227, 32);
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 25px;
}

.to-dos {
    margin-top: 25px;
}
